[submodule "Hawthorn/third_party/spdlog"]
	path = Hawthorn/third_party/spdlog
	url = git@github.com:TutanDev/spdlog.git
[submodule "Hawthorn/third_party/GLFW"]
	path = Hawthorn/third_party/GLFW
	url = git@github.com:TutanDev/glfw.git
[submodule "Hawthorn/third_party/imgui"]
	path = Hawthorn/third_party/imgui
	url = git@github.com:TutanDev/imgui.git
[submodule "Hawthorn/third_party/glm"]
	path = Hawthorn/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "Hawthorn/third_party/volk"]
	path = Hawthorn/third_party/volk
	url = git@github.com:TutanDev/volk.git
[submodule "Hawthorn/third_party/fmt"]
	path = Hawthorn/third_party/fmt
	url = git@github.com:TutanDev/fmt.git
